<a href="https://colab.research.google.com/github/gomdoori/user1/blob/main/%EB%AC%B8%EC%A0%9C_format_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##변수에 이름/학교/학과 형식으로 저장하고 format을 사용해print하시오(이름/학교/학과는 각각 input을 활용해 입력

In [1]:
name = input('이름 : ')
school = input('학교 : ')
major = input('학과 : ')
OutPut = "{} / {} / {}".format(name, school, major)
print(OutPut)

이름 : 김창수
학교 : 강원대학교
학과 : AI소프트웨어
김창수 / 강원대학교 / AI소프트웨어

##위에서 생성된 이름/학교/학과 라는 문자를 이름-학교-학과로 변환하시오

In [2]:
OutPut.replace("/","-")

'김창수 - 강원대학교 - AI소프트웨어'

##안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다. 라는 문장을 만들어서 반갑습니다. 라는 문장만 따로 print하시오

In [3]:
intro = "안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다."
print(intro[-6:])

반갑습니다.

##위에서 저장된 변수에서 학교이름만 나오도록 print하시오

In [4]:
OutPut[6:11]

'강원대학교'

##주어진 이름(Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25)을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [5]:
list_name = ["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
list_name[3][0:3]

'Lee'

##20, 50, 76, 10, 59, 22, 40 ,50, 77, 52의 숫자를 하나의 리스트에 저장하시오

In [6]:
num = [20, 50, 76, 10, 59, 22, 40 ,50, 77, 52]

## 위에서 저장된 리스트에서 20, 50, 76, 10만 print하시오

In [7]:
for i in range(4) :
  print(num[i])

20
50
76
10

##위에서 저장된 리스트에서 77만 print하시오

In [8]:
num[8]

77

## 위에서 저장된 리스트에서 음수를 활용해 77, 52를 가지고오시오

In [9]:
num[-2:]

[77, 52]