<a href="https://colab.research.google.com/github/gomdoori/user1/blob/main/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_0%EB%AC%B8%EC%A0%9C%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##name과 age 변수를 만들어 print와 format을 활용해 name 변수에는 이름, age변수에는 나이를 입력해 결과를 프린트 하시오

In [ ]:
name = input('이름')
age = input('나이')

이름김창수
나이15

In [ ]:
print(('이름: {}, 나이: {}').format(name, age))

이름: 김창수, 나이: 15

In [ ]:
name=input()
age=int(input())

김창균
34

In [ ]:
print(("이름 : {}, 나이 : {}").format(name, age))

이름 : 김창균, 나이 : 34

##1단 부터 9단까지 구구단을 만드시오

In [ ]:
for i in range(1,10):
  print(('-----{}단-----').format(i))
  for j in range(1,10):
    print(('{} X {} = {}').format(i,j,i*j))

-----1단-----
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
-----2단-----
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-----3단-----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
-----4단-----
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-----5단-----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
-----6단-----
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-----7단-----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
-----8단-----
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-----9단-----
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for i in range(1,10):
  print(("------{}단-----").format(i))
  for j in range(1,10):
    print(("{}X{}={}").format(i, j, i*j))

##exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]을 리스트로 변환하고 90점 이상 A 80점 이상 90점 미만B, 70점 이상 80점 미만을 C 60점 이상 70점 미만은 D 이외는 F로 아래와 같이 나타내시오

In [ ]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [ ]:
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]

In [ ]:
for i in exam:
  if i>=90:
    print("A")
  elif i>=80 and i<90:
    print("B")
  elif i>=70 and i<80:
    print("C")
  elif i>=60 and i<70:
    print("D")
  elif i < 60:
    print('F')
  else:
    print("정확한 값을 입력해주세요")

D
B
A
D
A
B
B
D
C
D
C
A
A

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

In [ ]:
money = int(input())
jjajangmean = 10000

if money >= jjajangmean :
  print('구매가능')
else :
  print('구매 불가능')

# 입력값을 숫자와 비교해야 할 땐 강제형변환을 해줘야 한다.

150000
구매가능

In [ ]:
j=int(input())
if j >=10000:
  print("구매가능")
else:
  print("구매불가능")

15000
구매가능

##중국집에서 주문을 한다. 짜장면 한그릇은 10,000원 이다. 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 구매 불가능으로 나타내시오

당신은 13000원이 있으므로 1개 구매가능

In [ ]:
money = int(input())
jjajangmean = 10000

if money >= jjajangmean :
  print(('당신은 {}원이 있으므로 {}개 구매가능').format(money, int(money/jjajangmean)))
else :
  print('구매 불가능')

# 입력값을 숫자와 비교해야 할 땐 강제형변환을 해줘야 한다.

55000
당신은 55000원이 있으므로 5개 구매가능

##저는 .. 학과이고 이름은 .. 저의 나이는 ... 이고 저의 키는 ...입니다.

In [ ]:
major = input('학과? ')
name = input('이름? ')
age = input('나이? ')
tall = input('키? ')

print(('저는 {}학과이고 이름은 {}, 저의 나이는 {}이고 저의 키는 {}입니다.').format(major, name, age, tall))

학과? AI
이름? rlackdtn
나이? 18
키? 180
저는 AI학과이고 이름은 rlackdtn, 저의 나이는 18이고 저의 키는 180입니다.

##한 학생의 시험 점수는 다음과 같다. grades=[85, 90, 92, 78, 80, 95]이때 모든 점수의 합의 평균이 85점이 넘을때 시험에 합격했습니다.라는 문구를 넣어서 print해줘

In [ ]:
grades=[85, 90, 92, 78, 80, 95]
total = 0
for i in grades:
  total = total + i

average = total / len(grades)
if average > 85:
  print('시험에 합격했습니다.')
else :
  print('시험에 불합격했습니다.')

시험에 합격했습니다.

86.66666666666667